{% args args %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>Seismic Monitor</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  </head>
  <body>    
    <div class="container">
      <fieldset class="border p-4">
        <legend class="w-auto">Alarm Settings</legend>
          <form action="/save" method="post">
            <div class="form-group">
              <label for="alarm_threshold">Alarm threshold</label> 
              <input id="alarm_threshold" name="alarm_threshold" type="number" class="form-control" value="{% if 'threshold' in args %}{{ args['threshold'] }}{% endif %}">
            </div>
            <div class="form-group">
              <label for="alarm_average">Alarm average</label> 
              <input id="alarm_average" name="alarm_average" type="number" class="form-control" value="{% if 'average' in args %}{{ args['average'] }}{% endif %}">
            </div>
            <div class="form-group">
              <label for="alarm_samples">Alarm samples</label> 
              <input id="alarm_samples" name="alarm_samples" type="number" class="form-control" value="{% if 'samples' in args %}{{ args['samples'] }}{% endif %}">
            </div> 
            <div class="form-group">
              <label for="alarm_telegram">Telegram</label> 
              <select id="alarm_telegram" name="alarm_telegram" class="form-control">
                <option value="1" {% if args['telegram']==1 %}selected{% endif %}>Enable</option>
                <option value="0" {% if args['telegram']==0 %}selected{% endif %}>Disable</option>
              </select>
            </div>
            <div class="form-group">
              <label for="alarm_flashlight">Flashlight</label> 
              <select id="alarm_flashlight" name="alarm_flashlight" class="form-control">
                <option value="1" {% if args['flashlight']==1 %}selected{% endif %}>Enable</option>
                <option value="0" {% if args['flashlight']==0 %}selected{% endif %}>Disable</option>
              </select>
            </div>
            <div class="form-group">
              <label for="alarm_sound">Sound</label> 
              <select id="alarm_sound" name="alarm_sound" class="form-control">
                <option value="1" {% if args['sound']==1 %}selected{% endif %}>Enable</option>
                <option value="0" {% if args['sound']==0 %}selected{% endif %}>Disable</option>
              </select>
              </div>
            <div class="form-group">
              <button name="submit" type="submit" class="btn btn-primary">Submit</button>
            </div>
            <input type="hidden" name="action" value="alarm">
          </form>
      </fieldset>

      <fieldset class="border p-4 mt-3">
        <legend class="w-auto">Telegram Settings</legend>
          <form action="/save" method="post">
            <div class="form-group">
              <label for="telegram_token">Token</label> 
              <input id="telegram_token" name="telegram_token" type="number" class="form-control" value="{% if 'token' in args %}{{ args['token'] }}{% endif %}">
            </div>
            <div class="form-group">
              <label for="telegram_chatid">Chat Id</label> 
              <input id="telegram_chatid" name="telegram_chatid" type="number" class="form-control" value="{% if 'chatid' in args %}{{ args['chatid'] }}{% endif %}">
            </div>
            <div class="form-group">
              <button name="submit" type="submit" class="btn btn-primary">Submit</button>
            </div>
            <input type="hidden" name="action" value="telegram">
          </form>
      </fieldset>

      <fieldset class="border p-4 mt-3">
        <legend class="w-auto">WIFI Settings</legend>
          <form action="/save" method="post">
            <div class="form-group">
              <label for="wifi_ssid">SSID</label> 
              <input id="wifi_ssid" name="wifi_ssid" type="number" class="form-control" value="{% if 'ssid' in args %}{{ args['ssid'] }}{% endif %}">
            </div>
            <div class="form-group">
              <label for="wifi_password">Password</label> 
              <input id="wifi_password" name="wifi_password" type="number" class="form-control" value="{% if 'password' in args %}{{ args['password'] }}{% endif %}">
            </div>
            <div class="form-group">
              <button name="submit" type="submit" class="btn btn-primary">Submit</button>
            </div>
            <input type="hidden" name="action" value="wifi">
          </form>
      </fieldset>
    </div>

  </body>
</html>



